.footer {
	background: $mainPurpleGradient;
	&__container {
		padding: 73px 0px 42px 0px;
		display: flex;
		@media (max-width:$md2+px){
			flex-wrap: wrap;
			padding: 50px 0px 42px 0px;
		}
		@media (max-width:$md3+px){
			 padding: 20px 0px 35px 0px; 
		}
	}
		&__columns {
			flex: 1;
			@media (max-width:$md2+px){
				&:first-child{
				flex: 0 0 100%;
			}
			@media (max-width:$md3+px){
				flex: 0 0 100%;
				border-top: 1px solid #E9EEFF;
				&:first-child{
					border: none;
				}
			}
		}
	}
}
.column {
	&__info {
		max-width: 275px;
		@media (max-width:$md2+px){
			padding: 0px 0px 23px 0px;
			max-width: 100%;
		}
		@media (max-width:$md3+px){
			 padding: 0px 20px 14px 20px; 
		}
	}
	&__info-img {
		margin-bottom: 15px;
		@media (max-width:$md3+px){
			width: 65px;
			height: 25px;
			margin-bottom: 5px;
			img{
				max-width: 100%;
			} 
		}
	}
	&__info-text {
		color: $mainColor;
		font-size: 1.6rem;
		line-height: 25px;
		letter-spacing: 0.1px;
		font-weight: 400;
	}
}
.column-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width:$md2+px){
		align-items: flex-start;
	}
	&__wrap{
		@media (max-width:$md3+px){
		 width: 100%; 
		}
	}
	&__heading {
		font-size: 2.2rem;
		line-height: 35px;
		letter-spacing: 0.1px;
		font-weight: 700;
		color: $mainColor;
		margin-bottom: 3px;
		position: relative;
		@media (max-width:$md3+px){
			 padding: 11px 20px 11px 20px;
			 font-size: 1.6rem;
			 margin-bottom: 0px;
			&::before{
				content: "";
				width: 10px;
				background-color: white;
				height: 3px;
				transform: translate(0, -50%) rotate(-45deg);
				position: absolute;
				right: 20px;
				top: 55%;
				border-radius: 50px;
				}
			&::after{
				content: "";
				width: 10px;
				background-color: white;
				height: 3px;
				transform: translate(0, -50%) rotate(45deg);
				position: absolute;
				right: 25px;
				top: 55%;
				border-radius: 50px;
			}
		}
	}
	&__items {
	}
	&__items-wrap{
		@media (max-width:$md3+px){
			 display: none;
			 &._active{
				display: block;
				padding: 9px 20px 8px 20px;
				border-top: 1px solid #E9EEFF;
			 }
		}
	}
	&__item {
		font-size: 1.6rem;
		line-height: 35px;
		letter-spacing: 0.1px;
		color: $mainColor;
	}
	&__main-pages{
		@media (max-width:$md3+px){
			display: flex;
			justify-content: center;
			flex-wrap: wrap; 
		}
	}
}
.column-4{
	@media (max-width:$md3+px){
		 padding: 17px 0px 0px 0px;
			&__custom--items{
			padding: 0px 20px 0px 20px;
			text-align: center;
			flex: 1 0 auto;
		} 
	}
}
.copyright {
	text-align: center;
	margin-bottom: 20px;
}
.copiright {
	&__text {
		font-size: 1.4rem;
		line-height: 22px;
		letter-spacing: 0.1px;
	}
}
//===================================================================================================

//====================================================================================================
